@import "backend_vars", "default";

#dim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 5;
}

#s-bar {
    input[type=submit] {
        padding: 5px;
    }

    input[type=text] {
        padding: 3px 2px 3px 2px;
    }
}

#u-box {
    width: 48px;

    img {
        padding: 3px;
        width: 30px;
        height: 30px;
        border: 1px solid $d-border-cont;
        cursor: pointer;
    }
}

.c-bar {
    margin-top: 5px;
    background: #fff;
    box-sizing: border-box;
    float: left;
    width: 100%;
}

.img-1 {
    margin: 3px;
    padding: 3px;
    border: 1px solid #ccc;
    background: #fff;
}

.l-1 {
    label {
        &:first-child {
            font-weight: bold;
        }
    }

    li {
        &:nth-child(2n+3) {
            margin-top: 15px;
        }

        &:nth-child(2n+2) {
            margin-top: 5px;
        }
    }

    input + select {
        width: auto;
        margin-left: 5px;
    }
}

.l-2 {
    li:nth-child(2n+1) {
        display: inline;
    }
}

@import "backend_media", "backend_box", "backend_table", "backend_form";
