footer {
    background: #3a3a3a;
    border-top: 2px solid #2d2d2d;
    color: #d0d0d0;
    font-size: 0.8em;

    overflow: auto;
    padding: 10px 0 10px 0;

    > section {
        width: 950px;
        margin: 0 auto;
    }
}

.footer-box {
    margin-right: 40px;

    i {
        margin-right: 5px;
    }
}

#copyright {
    clear: both;
    padding-top: 20px;
    text-align: center;
}