body {
    > header {
        height: 300px;
        background: #ffc200;
        border-top: 2px solid #e0ab00;
        border-bottom: 2px solid #e0ab00;

        section {
            width: 950px;
            margin: 0 auto;
        }
    }
}