body {
    font-family: Open Sans, serif;

    > nav {
        background: #eeeeee; /* Old browsers */
        background: -moz-linear-gradient(top, #eeeeee 0%, #f7f7f7 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #f7f7f7)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #eeeeee 0%, #f7f7f7 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #eeeeee 0%, #f7f7f7 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #eeeeee 0%, #f7f7f7 100%); /* IE10+ */
        background: linear-gradient(to bottom, #eeeeee 0%, #f7f7f7 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f7f7f7', GradientType=0); /* IE6-9 */

        section {
            width: 950px;
            height: 60px;
            margin: 0 auto;

            ul {
                float: right;
                line-height: 60px;
            }

            li {
                font-size: 1.0em;
                font-weight: bold;
                display: inline-block;
            }

            a {
                padding: 0 10px 0 10px;

                &:hover {
                    color: #ffc200;
                }
            }

            .active {
                color: #ffc200;
            }
        }
    }
}

#logo {
    float: left;
    line-height: 60px;
    font-size: 2.0em;
}