html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, nav, section, iframe, label {
  margin: 0;
  padding: 0; }

a, img, button, input[type=submit], input[type=button] {
  outline: none; }

a {
  color: inherit;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

ul {
  list-style: none; }

input, select, textarea {
  box-sizing: border-box; }

input[type=checkbox] {
  margin-right: 5px; }

button::-moz-focus-inner, input[type=submit]::-moz-focus-inner, input[type=button]::-moz-focus-inner {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix {
  clear: both; }

.clean {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  vertical-align: top; }

.clean:focus {
  outline: 0; }

.rp {
  position: relative; }

.ap {
  position: absolute; }

.lf {
  float: left; }

.rf {
  float: right; }

.op {
  margin: 0 auto; }

.rT {
  text-align: right; }

.lT {
  text-align: left; }

.cT {
  text-align: center; }

.full {
  width: 100%;
  max-width: none; }

.hfull {
  height: 100%;
  max-height: none; }

.vT {
  vertical-align: top; }

.vB {
  vertical-align: bottom; }

.vM {
  vertical-align: middle; }

.nowrap {
  white-space: nowrap; }

.p {
  cursor: pointer; }

.vC {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap; }

.max, .min, .close {
  cursor: pointer;
  font-size: 0.9em; }

.vh {
  display: none !important; }

body {
  font-family: Open Sans, serif; }
  body > nav {
    background: #eeeeee;
    /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #f7f7f7 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #f7f7f7));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 0%, #f7f7f7 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 0%, #f7f7f7 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 0%, #f7f7f7 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #eeeeee 0%, #f7f7f7 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f7f7f7', GradientType=0);
    /* IE6-9 */ }
    body > nav section {
      width: 950px;
      height: 60px;
      margin: 0 auto; }
      body > nav section ul {
        float: right;
        line-height: 60px; }
      body > nav section li {
        font-size: 1.0em;
        font-weight: bold;
        display: inline-block; }
      body > nav section a {
        padding: 0 10px 0 10px; }
        body > nav section a:hover {
          color: #ffc200; }
      body > nav section .active {
        color: #ffc200; }

#logo {
  float: left;
  line-height: 60px;
  font-size: 2.0em; }

body > header {
  height: 300px;
  background: #ffc200;
  border-top: 2px solid #e0ab00;
  border-bottom: 2px solid #e0ab00; }
  body > header section {
    width: 950px;
    margin: 0 auto; }

#container p {
  margin-bottom: 10px; }

#intro-product {
  background: #eeeeee;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 0%, #f7f7f7 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #f7f7f7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eeeeee 0%, #f7f7f7 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eeeeee 0%, #f7f7f7 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eeeeee 0%, #f7f7f7 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #eeeeee 0%, #f7f7f7 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f7f7f7', GradientType=0);
  /* IE6-9 */
  border-bottom: 2px solid #cdcdcd;
  overflow: auto; }

.content {
  width: 950px;
  margin: 0 auto;
  overflow: auto;
  padding: 10px 0 10px 0;
  font-size: 0.85em; }
  .content h1 {
    font-size: 1.5em; }
  .content h2 {
    font-size: 1.3em; }

.front-box {
  width: 330px;
  float: left;
  margin: 10px 10px 10px 0;
  line-height: 1.5em; }
  .front-box i {
    font-size: 60px;
    margin: 0 10px 0 10px; }

.news-box {
  width: 230px;
  float: right;
  margin: 10px 0 0 0;
  border: 2px dashed #a3a3a3;
  border-radius: 15px;
  padding: 10px; }
  .news-box p {
    margin: 10px 0 10px 0; }
  .news-box ul {
    margin-left: 20px; }
  .news-box li {
    list-style-type: disc; }
  .news-box a {
    color: #000;
    font-weight: bold; }
    .news-box a:hover {
      color: #ffc200; }

#intro-request {
  background: #d6edcc;
  border-bottom: 2px solid #cdcdcd; }

.feedback-box {
  width: 600px;
  margin: 10px 0 10px 0;
  text-align: justify; }
  .feedback-box i {
    font-size: 75px;
    margin: 0 10px 0 10px; }

#intro-service {
  background: #c7e0ed;
  border-bottom: 2px solid #cdcdcd; }

.service-box {
  width: 420px;
  margin: 10px 0 10px 0;
  text-align: justify; }
  .service-box i {
    font-size: 75px;
    margin: 0 10px 0 10px; }
  .service-box ul {
    margin: 0 0 10px 40px; }
  .service-box li {
    list-style-type: disc; }

#p-package-1 {
  overflow: auto;
  background: #d6edcc; }
  #p-package-1 ul {
    margin-left: 40px; }
  #p-package-1 li {
    list-style-type: disc; }

#p-package-2 {
  overflow: auto;
  background: #c7e0ed; }

#p-package-3 {
  overflow: auto;
  background: #edd5e6; }

footer {
  background: #3a3a3a;
  border-top: 2px solid #2d2d2d;
  color: #d0d0d0;
  font-size: 0.8em;
  overflow: auto;
  padding: 10px 0 10px 0; }
  footer > section {
    width: 950px;
    margin: 0 auto; }

.footer-box {
  margin-right: 40px; }
  .footer-box i {
    margin-right: 5px; }

#copyright {
  clear: both;
  padding-top: 20px;
  text-align: center; }
